<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @mood %> is the mood of the day.</h1>
    <p>Thanks for reading!</p>
  </body>
</html>
